.divContent {
    width: 880px;
    height: 100px;
    background-color: #efeae5;
    margin-left: 50px;
    line-height: 100px;
    color: #404040;
    border: 5px solid #efeae5;
}

.divText {
    font-size: 15px;
    font-weight: 900;
    margin: 20px;
}

.tishi {
    font-weight: 900;
    font-family: 黑体;
    margin-left: 30px;
}